@import "tailwindcss";
@import "@skeletonlabs/skeleton";
@import "@skeletonlabs/skeleton/optional/presets";
@import "@skeletonlabs/skeleton/themes/wintry";

@plugin '@tailwindcss/forms';
@source '../node_modules/@skeletonlabs/skeleton-svelte/dist';

.input-toolbar,
.input-toolbar[type="color"] {
	height: calc(8 * var(--spacing));
}
.input-toolbar[type="color"] {
	width: calc(8 * var(--spacing));
	min-width: calc(8 * var(--spacing));
}

.select-toolbar {
	padding-top: 0.1rem;
	padding-bottom: 0.1rem;
}

.btn-icon {
	width: auto;
}
